<h1>Components</h1>
<h2>Dropdown</h2>
<% dropdown_options = [
  '<a href="#">Option 1</a>',
  '<a href="#">Option 2</a>',
  '<a class="active" href="#">Option 3</a>'
] %>
<%= render "components/dropdown", text: "Sort", items: dropdown_options %>

<h2>Tags</h2>

<%= render "components/tag", text: "Tag text" %>

<h2>Newsletter form</h2>

<%= render "components/newsletter_sign_up_form" %>

<h2>Buttons</h2>
<%= render "components/button" %>
