<div class="container-spaced-s container-heavy-text">
  <h2>About the guidelines</h2>
  <h1>What are the W3C Web Sustainability guidelines?</h1>
  <p>Web Sustainability Guidelines(WSG) are a set of best practices published by
    the W3C, The World Wide Web Consortium (https://www.w3.org/). It is a
    document, that formalizes existing best practices from the industry. The
    guidelines are designed to help digital product and service creators make
    their digital products more sustainable, prioritizing people and the
    planet</p>
  <h3>Who created the guidelines</h3>
  <p>The Web Sustainability Guidelines were developed by web sustainability
    experts, based on measurable, evidence-based research. The draft was edited
    by Tim Frick (from Mightybites, author of Designing for Sustainability),
    and Alexander Dawson, more than 50 professionals and organisations
    contributed to the knowledge base.</p>
  <h2>Why are the W3C Web Sustainability guidelines important</h2>
  <h3>Why should we care about the guidelines?</h3>
  <ul>
    <li><strong>Industry-wide impact</strong>
      - The WSG (Web Sustainability Guidelines) serve as a powerful signal
      within the industry, emphasizing the importance of sustainability.</li>
    <li><strong>Guidance for Digital Professionals</strong>
      — They offer a practical guide for digital professionals on implementing
      sustainable practices and serve as a valuable resource for both creators
      and sustainability specialists in the digital field.</li>
    <li><strong>First step in establishing Sustainability Standards</strong>
      — While not being an W3C standard yet, the web sustainability guidelines
      are a significant step towards making sustainability considerations a
      standard practice in the design and development of digital products.</li>
    <li><strong>Alignment with wider reporting standards</strong>
      — the WSG are designed in alignment with GRI Standards (Global Reporting
      Initiative), so there is a great potential for their broader use in the
      sustainability domain. They can be used not only by the creators of
      digital products but also by sustainability consultants and departments.</li>
    <li><strong>Catalyzing Industry Change</strong>
      — Acts as a catalyst for integrating environmental considerations in the
      tech sector.Encourages the adoption of eco-friendly strategies in the
      digital realm.</li>
  </ul>
  <h3>Will the web sustainability guidelines become obligatory?</h3>
  <p>Probably not soon, but I can imagine them being translated into some
    enforceable industry standard someday. In the EU, sustainability reporting
    has been mandatory for large companies since January 1, 2024. While it
    might take time to extend to smaller businesses, understanding and
    minimizing impacts is increasingly important. With climate change posing an
    undeniable threat, initiatives to reduce carbon emissions are becoming
    crucial across all industries.</p>
  <h2>How to implement the W3C web sustainability guidelines</h2>
  <h3>How can we use these guidelines?</h3>
  <p>The guidelines are divided into four sections:
    <strong>UX Design, Web Development, Infrastructure and Hosting Systems, and
      Business Strategy and Product Management</strong>. While interrelated, they are separated to facilitate implementation by
    different professionals and teams. So depending on your or your team's
    specialization, you can decide to learn about possible actions and success
    criteria in that particular domain. These sections are not exhaustive but
    serve as prompts to consider and minimize impact at each step of the work
    process.</p>
  <h3>What resources and tools are available to help you adopt these guidelines?</h3>
  <p>Each guideline, and there are 93 of them, comes not only with a checklist
    of actions but also with resources to learn more about the particular
    guideline. There are also examples being added to illustrate the
    implementation of best practices. There is also a growing body of
    literature, videos, and other resources to help us understand the impacts
    and implement solutions to minimize them.</p>
  <br>
  <p>On this
    <%= link_to "this platform", "www.websustainabilityguidelines.com", target: "_blank" %>
    you can easily filter the guidelines by your area, and also more easily
    find those that can have a high impact while requiring low effort, ie. to
    find a low-hanging fruit of minimizing the impact of your website and make
    it simpler to start with the implementation wherever you are.</p>
  <br>
  <p><em>Please keep in mind that this platform is work in progress and new and
      improved features will be added continuosly</em></p>
</div>
