.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-m;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding-block: $spacer-xxl;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: $spacer-m;
}

.newsletter__container {
  min-height: 200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* space elements */
  gap: $spacer-l;
  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.container-centered {
  margin-inline: auto;
  text-align: center;
}

.container-spaced-m {
  display: flex;
  flex-direction: column;
  gap: $spacer-m;
}
