.wrapper {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* if turbo frame is a direct child of the wraper, it should be a block so the spacing is set */
  & > turbo-frame {
    display: block;
  }
}

.wrapper > * + * {
  margin-top: $spacer-xl;
}

.page__wrapper {
  @extend .wrapper;
  min-height: 100vh;
}
