@font-face {
  font-family: "Montserrat";
  src: url("Montserrat.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("Nunito.ttf");
}

body {
  background-color: $primary-light;
  color: $primary-dark;
  font-family: "Nunito", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.visually-hidden {
  height: 0;
  opacity: 0;
}

.bg-dark {
  background-color: $primary-dark;
  color: $primary-light;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-accent-color-2 {
  color: $accent-color-2;
}
.fadded {
  opacity: 0.7;
}

.unstyled-list {
  list-style: none;
}

.full-width {
  width: 100%;
}

.header-s {
  font-size: $font-size;
  /* on large screen's don't strech on the page */
  @media (min-width: $desktop) {
    max-width: 75%;
  }
}

.header-m {
  font-size: $font-size-m;
  /* on large screen's don't strech on the page */
  @media (min-width: $desktop) {
    max-width: 75%;
  }
}

.header-xxl {
  font-size: $font-size-xxl;
  line-height: 1.1;
  /* on large screen's don't strech on the page */
  @media (min-width: $desktop) {
    max-width: 75%;
  }
}

/* Margins */
.mt-l {
  margin-top: $spacer-l;
}
