$green: #CEF7A0;
$purple: #818DF6;
$orange: #FAA381;
$dark-purple: #4C3957;
$magnolia: #F8F0FB;
$night: #071108;
$levander-blush: #FFEAEC;
$aquamarine: #85FFC7;
$finn: #643A71;

$primary-light: white;
$primary-dark: $dark-purple;
$accent-color-1: rgba($aquamarine, .70);
$accent-color-2: rgba($purple, .70);
$accent-color-3: rgba($levander-blush, .70);
$spacer-xs: .5rem;
$spacer-s: 1rem;
$spacer-m: 1.25rem;
$spacer-l: 1.5rem;

$font-size-xs: 14px;
$font-size-s: 1rem;

$larger-phone: 376px;
