$green: #cef7a0;
$purple: #818df6;
$orange: #faa381;
$dark-purple: #4c3957;
$magnolia: #f8f0fb;
$night: #071108;
$levander-blush: #ffeaec;
$aquamarine: #85ffc7;
$finn: #643a71;

$primary-light: white;
$primary-dark: $dark-purple;
$accent-color-1: rgba($aquamarine, 0.7);
$accent-color-2-pure: $purple;
$accent-color-2: rgba($accent-color-2-pure, 0.7);
$accent-color-3: rgba($levander-blush, 0.7);
$accent-color-4: rgba($dark-purple, 0.7);
$spacer-xxs: 0.25rem;
$spacer-xs: 0.5rem;
$spacer-s: 1rem;
$spacer-m: 1.25rem;
$spacer-l: 1.5rem;
$spacer-xl: 1.75rem;
$spacer-xxl: 2rem;
$spacer-xxxl: 2.5rem;

$line-height-m: 1.25rem;

$font-size-xs: 14px;
$font-size-s: 0.875rem;
$font-size: 1rem;

$larger-phone: 415px;
$tablet: 690px;
$desktop: 1080px;

$font-weight-bolder: 600;
$font-weight-bold: 800;

$rounded-s: 0.5rem;
