.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer-s;
  padding-inline: $spacer-xl;
}

.filter-form__checkbox {
  position: absolute;
  transform: scale(0);
}

.filter-form__input-container {
  text-wrap: nowrap;
  display: block;
  position: relative;
  margin-bottom: $spacer-xs;
  padding-left: $spacer-xl;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-form__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid $primary-dark;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-form__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-form__input-container input:checked ~ .filter-form__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-form__input-container .filter-form__checkmark:after {
  left: 5px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* When the checkbox is checked, add a blue background */
.filter-form__input-container input:checked ~ .filter-form__checkmark {
  background-color: $primary-dark;
}

/* .filter-form {
  display: flex;
  justify-content: center;
  gap: $spacer-xs;
} */

/* .filter-form__checkbox + label,
.filter-form__reset-link {
  display: inline-flex;
  color: $primary-dark;
  cursor: pointer;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  padding-inline: 0.4rem;
  margin-right: 0.2rem;
} */

/* .filter-form__checkbox + label,
.filter-form__reset-link {
  content: "";
  height: 10px;
  width: 10px;
  border: 1px solid $primary-dark;
} */

/* .filter-form__checkbox:checked + label::before,
.filter-form__reset-link.active::before {
  background-color: $primary-dark;
  color: $primary-light;
}
 */

.filter-form__input-group {
  display: inline-flex;
  align-items: center;
  padding-inline: $spacer-s;
  border: 2px solid $primary-dark;
  border-radius: 1rem;
  font-size: 1rem;
  h3 {
    margin-right: $spacer-m;
  }
}

.filter-form__reset-link {
  color: $primary-dark;
  cursor: pointer;
  text-decoration: none;
}
